{
  "extends": ["airbnb", "airbnb-typescript"],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "semi": ["error", "never"],
    "object-curly-newline": "off",
    "@typescript-eslint/semi": ["error", "never"]
  }
}
